<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <div>
          <div>
            <app-grafico-dona [leyenda]='graficos.grafico1.leyenda' [ChartLabels]='graficos.grafico1.labels'
              [ChartData]='graficos.grafico1.data' [ChartType]="graficos.grafico1.type"></app-grafico-dona>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <div style="display: block">
          <app-grafico-dona [leyenda]='graficos.grafico2.leyenda' [ChartLabels]='graficos.grafico2.labels'
            [ChartData]='graficos.grafico2.data' [ChartType]="graficos.grafico2.type"></app-grafico-dona>
        </div>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <div style="display: block">
          <app-grafico-dona [leyenda]='graficos.grafico3.leyenda' [ChartLabels]='graficos.grafico3.labels'
            [ChartData]='graficos.grafico3.data' [ChartType]="graficos.grafico3.type"></app-grafico-dona>
        </div>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <div style="display: block">
          <app-grafico-dona [leyenda]='graficos.grafico4.leyenda' [ChartLabels]='graficos.grafico4.labels'
            [ChartData]='graficos.grafico4.data' [ChartType]="graficos.grafico4.type"></app-grafico-dona>
        </div>
      </div>
    </div>
  </div>

</div>